.header {
    overflow: hidden;
    background-color: #fff;
    padding: 15px 90px;
    position: relative;
    box-shadow: 0px 0px 6px #C0C0C0;
  }
  
  .header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
    border-radius: 0px; 
  }
  
  .header a.logo {
    font-size: 25px;
    font-weight: bold;
    padding-right: 25px;
    border-right: 1px solid #E0E0E0;
  }
  
  .header a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .header a.active {
    background-color: dodgerblue;
    color: white;
  }
  
  .headerRight {
    float: right;
    color: black;
  }
  .userIcon i{
    padding: 5px;
    font-size: 24px;
    color: gray;
  }
  .headerRight span {
    position: absolute;
    top: 22px;
    border: 2px solid #ddd;
    border-radius: 50px;
    height: 45px;
    width: 45px;
    position: absolute;
    right: 264px;
    text-align: center;
  }

  .ProfileHolder{
    position: absolute;
    right:130px;
    top: 30px;
    border: none;
    color: #505050;
    font-weight: 500;
    width: 128px;
  }

  .Lorem {
    border-left: 8px solid #4286f4;
    padding-left: 5px;
    padding: 5px 0 5px 10px;
    font-size: 20px;
    font-weight: 500;
    color: #505050;
  }
  .University{
    background-color: #4286f4;
    color: white;
    font-weight: 400;
    padding: 5px 10px;
    font-size: 20px;
  }

  .OAF {
    padding-left: 26rem;
    font-size: 20px;
    font-weight: 400;
    margin-top: 15px;
    color: #505050;
  }



  /* respoinsive css */
  @media (max-width:991px){
    .OAF{
      margin-top: 0;
      visibility: hidden;
    }
  }
  @media (max-width:767px){
    .OAF{
      margin-top: 0;
      visibility: hidden;
    }
  }

  @media (max-width:660px){
    .header{padding-left: 15px;padding-right: 15px;}
  }
  @media (max-width:560px){
    .header a.logo{border-right: 0;}
    .ProfileHolder{right: 10px;top: 28px;}
    .headerRight span{right: 148px;}
    .OAF{
      margin-top: 0;
      display: none;
    }
  }
  @media (max-width:430px){
    .header{padding-bottom: 50px;}
    .header a.logo{width: -webkit-fill-available;}
    .headerRight span{top: 62px;left: 72px;}
    .ProfileHolder{left: 125px;top: 65px;}
  }