.Board {
    width: 24%;
    float: left;
    padding-left: 100px;
    padding-top: 50px;
    box-sizing: border-box;
    height: 100%;
}

.fa-long-arrow-left{
    padding: 2px;
}

.material-icons {vertical-align:-14%}

.regDropdown{
    padding: 15px;
    border: 1px solid #ddd;
    text-align: center;
    border: 1px solid #E0E0E0;
    width: fit-content;
    padding: 6px 12px;
    border-radius: 5px;
}
select {
    background: transparent;
    width: fit-content;
    font-size: 16px;
    border: none;
    height: 34px;
    font-size: 13px;
    font-weight: 600;
    color: #505050;
 } 
 .stepsTitle{
     font-weight: 400;
     color: #505050;
 }
 
 .styled{
    margin: 50px;
    width: 120px;
    height: 34px;
    border: 1px solid red;
    border-radius: 3px;
    overflow: hidden;
    
 }
 
/*progress barr*/

.container {
    width: 100%;
}

.progressbar {
    counter-reset: step;
    padding-left: 0;
}

.progressbar li {
    list-style-type: none;
    margin-top: 25px;
    height: 60px;
    position: relative;
    color:darkgray;
    font-size: 14px;
}
.progressbar li p{
    padding-left: 40px;
    margin-bottom: 5px;
}
.progressbar li p.stepInfo{
    margin-top: 0;
}


.progressbar li:before {
    content: '';
    width: 18px;
    height: 18px;
    display: block;
    float: left;
    box-sizing: border-box;
    border: 3px solid darkgray; 
    text-align: center;
    border-radius: 80%;
    line-height: 9px;
    background-color: white;
    margin-top: 10px;
    
}


.progressbar li:after{
    content: '';
    position: absolute;
    width: 1px;
    height: 70px;
    background-color: darkgray;
    left: 8px;
    bottom: -35px;
    z-index: -1;

}

.progressbar li:last-child:after{
    content: none;
}

.progressbar li.active{
    border-right: 4px solid #1E90FFed;
    color:#505050;
    font-size: 14px;
}

.progressbar li.active:before {
    border: 4px solid #1E90FFed;
}

.helpLine{
    color: #505050;
    font-weight: 400;
    font-size: 14px;
}
.helpLineNumber{
    color: #505050;
    font-weight: 400;
}


/* respoinsive css */
@media (max-width:767px){

.Board {
    padding-left: 15px;
    padding-right: 15px;
}

.progressbar li.active{font-size: 12px;}
.progressbar li {font-size: 12px;}
.progressbar li p{padding-left: 25px;}
.BoardHelpLine{text-align: left;margin-right: 0;}
}

@media (max-width:560px){
    .Board{width: 100%; text-align: center;}
    .regDropdown{margin: 0 auto;}
    .progressbar{width: 50%; margin: 0 auto;}
    /* .BoardHelpLine{text-align: center;background:#4286f4;width: 100%;padding: 15px;} */
    /* .helpLineNumber,.helpLine{color: #fff;} */
    .BoardHelpLine{display: none;}
}