.footerWrapper{
    position: absolute;
    bottom: 0;
    border-top: 1px solid #E0E0E0;
    width: 100%;
}
.termCondition{
    float: left;
    padding: 20px;
    color: #3399FF;
}
.poweredBy{
    float: right;
    padding: 20px;
}

/* responsive css */
@media (max-width:560px){
    .footerWrapper{
        height: 70px;
    }
    .termCondition{
        float: left;
        padding: 20px;
        color: rgb(51, 153, 255);
        width: 100%;
        text-align: center;
    }
    .poweredBy{
        float: right;
        padding: 20px;
        width: 100%;
        text-align: center;
    }
  }