.TimeLine {
    width: 76%;
    float: left;
    border-left: 1px solid #E0E0E0;
    /* border-bottom: darkgray 1px solid; */
    box-sizing: border-box;
    height: 100%;
    padding: 50px;
    margin-bottom: 60px;
}

.flex_container {
    display: flex;
    justify-content: space-between;
    padding-top: 12px;
    padding-top: 20px;
    /*background-color:#dcdde2;*/
  }
  
  .suprate{
      background-color:#f1f1f1; 
      padding-top: 4px;
      padding-left: 15px;
      padding-right: 15px;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      width: 43%;
  }
  .suprate label{
      font-size: 12px;
      color: #202020;
  }
  .suprate input{
    border: none;
    background: transparent;
    height: 34px;
  }

.flex-container > .selectStyle {
    background-color: #dcdde2;
    width: 100%;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }

  .button {
    background-color: #1f70f2; /* Green */
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    float: right;
  }

  .stepTitle{
    font-size: 20px;
    font-weight: 400;
    margin-top: 15px;
    color: #505050;
  }
  select{
    width: 100%;
    color:#909090;
    font-weight: 400;
  }
  .addressCheckbox{
      color: #505050;
      font-size: 14px;
  }
  .BoardHelpLine{display: none;}
  /* respoinsive css */
  @media (max-width:767px){

    .button {
      float: left;
      margin-top: 10px;
    }
    .flex_container{display: block;padding-top: 0;}
    .suprate{width: 100%;margin-top: 20px;}
  }

  @media (max-width:560px){
    .TimeLine{width: 100%;}
    .saveContinue{width: 100%;height: 90px;text-align: center;margin-top: 20px;}
    .BoardHelpLine{text-align: center;background:#4286f4;width: 100%;padding: 5px 15px;display: block;}
    .BoardHelpLine .helpLineNumber,.helpLine{display: inline-block;}
    .helpLineNumber,.helpLine{color: #fff;margin:0 5px;}
    
    .button{float: none;}
  }