.selectStyle {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .styleDiv {
    border-radius: 5px;
    background-color:#dcdde2;
    
    padding: 20px;
  }